
@font-face {
    font-family: 'Barlow'; /* Gantilah dengan nama font Anda */
    src:url('/fonts/BarlowSemiCondensed-Medium.ttf') format('truetype'); /* Pastikan path ini sesuai */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins'; /* Gantilah dengan nama font Anda */
    src:url('/resources/fonts/Poppins-Regular.ttf') format('truetype'); /* Pastikan path ini sesuai */
    font-weight: normal;
    font-style: normal;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;
